---
layout: default
title: Portal Sem Porteiras
---

<div class="home" id="home">

    <iframe src="https://player.vimeo.com/video/333190776" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 200px;"></iframe>
    
 <!--   <video width="640" height="480" controls>
    <source src="https://vimeo.com/333190776" type="video/mp4">
  </video>  -->
   
  <h1 class="pageTitle">Novidades</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
