<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo nav-link">
                        <p align="center">
                            <a href="{{ site.paths.home | relative_url }}"><img src="/assets/images/nanologo.png"></a>
                          </p>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
