---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<iframe src="https://player.vimeo.com/video/384171465" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

<div class="texto">
  {{ content }}

  {% assign apostila = nos-por-nos.apostila %}
  <div class="apostila">
    <a href="{{ site.url | append: apostila.arquivo }}" title="{{ apostila.msg-download }}">
      <span>{{ apostila.titulo }}</span>
      <img src="{{ site.url | append: apostila.capa }}" title="{{ apostila.legenda }}"/>
    </a>

    {% if page.lang == 'en' %}
    <a href="{{ site.url }}/assets/documentos/newsletter.pdf" title="Download our newsletter">
      <span>Newsletter</span>
      <img src="{{ site.url }}/assets/images/nos-por-nos/newsletter.jpg" title="Newsletter thumbnail, with a picture of a women group"/>
    </a>
    {% endif %}
  </div>
</div>
