---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<div class="nos ano">
  <h1><span>2020</span></h1>
  <img alt="{{ nos-por-nos.descricao-no }}" src="{{ site.baseurl }}/assets/images/nos-por-nos/nozinho.jpg"/>
</div>

<img alt="{{ nos-por-nos.descricao-no }}" src="{{ site.baseurl }}/assets/images/nos-por-nos/capa-2020.png"/>

<div class="texto">
  {{ content }}

  <p class="links">
    <a href="/nos-por-nos/nodecast" title="{{ nos-por-nos.descricao-nodecast }}">Nodecast</a>
    <a href="/nos-por-nos/novella" title="{{ nos-por-nos.descricao-novella }}">Audio Novella</a>
  </p>
</div>

