---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<div class="nos">
  <h1><span>{{ nos-por-nos.titulo }}</span></h1>
  <img alt="{{ nos-por-nos.descricao-no }}" src="{{ site.baseurl }}/assets/images/nos-por-nos/nozinho.jpg"/>
</div>

<div class="conteudo">
  <div class="texto">
    {{ content }}
  </div>

  <div class="anos">
    <a href="{{ site.url }}/nos-por-nos/2020" class="ano-2020">
      <span>2020</span>
      <img alt="{{ descricao-imagem-2020 }}" src="{{ site.baseurl }}/assets/images/nos-por-nos/thumbnail-2020.jpg"/>
    </a>

    <a href="{{ site.baseurl }}/nos-por-nos/2019" class="ano-2019">
      <span>2019</span>
      <img src="{{ site.url }}/assets/images/nos-por-nos/thumbnail-2019.jpg" alt="{{ nos-por-nos.descricao-imagem-2019}}"/>
    </a>
  </div>
</div>
