---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<img alt="{{ nos-por-nos.descricao-capa-nodecast}}" src="{{ site.url }}/assets/images/nos-por-nos/nodecast.png"/>

<div class="texto">
  {{ content }}
</div>

<div class="nodecasts">
  {% assign nodecasts = site.data.nodecasts.episodios %}
  {% for nodecast in nodecasts %}
  {% assign audio = site.url | append: '/assets/musicas/' | append: nodecast.audio %}
  <div class="episodio" id="{{ forloop.index }}">
    <div class="nome">
      <a href="{{ audio }}" class="download" title="Download"></a>
      <strong>{{ nodecast.titulo[page.lang] }}</strong>
    </div>
    <audio controls>
      <source src="{{ audio }}">
    </audio>

    {% if page.lang == 'en' %}
    <a href="#{{ nodecast.transcricao }}" class="abrir">Transcription</a>
    <div id="{{ nodecast.transcricao }}" class="modal">
      <div class="transcricao">
        <a class="fechar" href="#{{ forloop.index }}">X</a>
        <div>
          {{ site.data.nodecasts[nodecast.transcricao].conteudo | newline_to_br }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="cartazes">
  {% for nodecast in nodecasts %}
    {% assign cartaz = nodecast.cartaz %}
    <img src="{{ site.url | append: '/assets/images/nos-por-nos/' | append: cartaz.arquivo }}" title="{{ cartaz[page.lang] }}"/>
  {% endfor %}
  </div>
</div>
