---
---
@import 'simple-texture-home';

#section1 {
  padding: 0 40px;

  h1 {
    color: rgb(245, 209, 94) ;
  }

  .conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .sobre {
    padding: 10px;
    background: url('../images/theme/noisy_texture_section0-200x200.png') repeat 0 0 #150E1F;

    p {
      color: rgb(209, 174, 57)

    }

  }
}

#section2 {
  .conteudo {
    display: flex;
    align-items: baseline;

    div, img {
      width: 100%;
    }

    h3 {
      font-size: 1.5em;
    }
  }
}
