---
---
$azul-claro: #c9f1fe;
$azul-escuro: #005776;
$laranja-transparente: rgba(255, 100, 0, 0.6);
$laranja: rgba(255, 100, 0, 1);
$ocre: rgba(222, 104, 64, 0.3);
$violeta: #760057;
$verde: #577600;

@font-face {
  font-family: "Yaldevi Medium";
  src: url("../fonts/YaldeviColombo-Medium.ttf");
}

* {
  font-family: "Yaldevi Medium", "Bitter";
}

.body .unit-body {
  background-image: url('../images/nos-por-nos/fundo.jpg');
  background-position: bottom;
  background-color: #62c3e6;
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (max-width: 540px) {
    background-image: initial;
  }
}

.entry-content {
  position: relative;
}

.idioma {
  position: absolute;
  font-size: 1.5em;
}

.cabecalho{
  text-align: center;

   span {
    background-color: white;
    padding: 5px;
    min-width: 20%;
    display: inline-block;
    border-radius: 15px;
  }

  h1 {
    margin-bottom: 0;
  }

  a {
    background-image: url('../images/nos-por-nos/nozinho-amarelo.png');
    background-repeat: no-repeat;
    border: none;
    min-width: 65px;
    min-height: 40px;
    display: inline-block;
  }
}

.conteudo {
  display: flex;

  @media only screen and (min-width: 1000px) {
    justify-content: space-around;
  }

  @media only screen and (max-width: 540px) {
    flex-flow: column;
  }
}

h1 {
  color: $azul-escuro;
  font-size: 2.725em;
  text-align: center;
}

.texto {
  @media only screen and (min-width: 1000px) {
    flex-basis: 50%;
  }

  >p{
    padding: 10px;
    border: black solid;
    background-color: $azul-escuro;

    a {
      background-color: $laranja;
      color: black;
      border-radius: 10px;
      padding: 5px;
    }
  }

  >p:first-child {
    background-color: #de6840;
  }

  >p:nth-child(2n+3) {
    background-color: $verde;
  }

  >p:last-child {
    background-color: #c6f221;
  }

  ul {
    padding-left: 30px;
  }
}

.links {
  display: flex;
  justify-content: space-around;
}

.anos {
  flex-direction: column;

  a span {
    font-size: 3em;
    width: 93%;
  }
}

apostila a {
  padding-bottom: 20px;
}

.anos,
.apostila {
  display: flex;
  justify-content: space-evenly;
  background-color: initial;

  a {
    position: relative;
    text-align: center;

    @media only screen and (max-width: 540px) {
      margin-bottom: 20px;
    }

    span {
      position: absolute;
      bottom: 0;
      display: block;
      font-size: 1.5em;
      background-color: $laranja;
      padding: 10px;
      width: 94%;
    }
  }

  img,
  a,
  span {
    border-radius: 10px;
    border: initial;
  }
}

.episodio {
  background-color: $ocre;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  position: relative;

  strong {
    display: block;
    background-color: $azul-escuro;
    padding: 10px;
    color: white;
  }

  audio {
    width: 90%;
    padding: 10px;
  }
}

.download {
  content: "Download";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  margin: 5px 15px 15px;
  background-image: url("../images/simple-icons/download-40.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $laranja;
  background-position: bottom;
  border-radius: 10px;

  @media only screen and (min-width: 1000px) {
    width: 40px;
    height: 40px;
  }
}

.episodio .abrir,
.fechar {
  background-color: $laranja;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.episodio .abriri:visited {
  color: black;
}

.modal{
  background-color: white;
  padding: 10px;
  margin-top: 15px;
  text-align: initial;
  position: absolute;
  z-index: 99;
}

.fechar {
  position: absolute;
  top: 0;
  right: -25px;
  width: 20px;
  text-align: center;
}

.transcricao{
  position: relative;
}

#transcricao-selfcare:not(:target),
#transcricao-dreams:not(:target),
#transcricao-virus:not(:target),
#transcricao-fences:not(:target) {
  display: none;
  opacity: 0;
}

.cartazes {
  display: flex;
}

.breve {
  text-align: center;
}

.gotop {
  background-color: $laranja-transparente;
}
