---
---

.mapa {
    background-image: url('../images/saibamais/nos-por-nos/mapa.svg');
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.anos {

    a {
        width: 40%;
    }
}

.ano-2019 {
    background-image: url('../images/saibamais/nos-por-nos/2019.jpg');
}

.ano-2020 {
    background-image: url('../images/saibamais/nos-por-nos/triade.jpeg');
}
