<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="psp"><a href="#psp">Portal sem Porteiras</a></li>
        <li data-menuanchor="quem_somos"><a href="#quem_somos">Quem Somos</a></li>
        <li data-menuanchor="saiba_mais"><a href="#saiba_mais">Saiba Mais</a></li>
    </ul>

    <div id="section0" class="section" data-name="psp">
        <div class="logo">
            <img src="{{ site.baseurl }}/assets/images/logo.png" with="auto" height="auto" alt="logo" class="imglogo" />
        </div>

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
          {% for section in site.home %}
            {{ section[1] }}
          {% endfor %}
        </div>
    </div>

    <div id="section1" class="section" data-name="quem_somos">
        <h1>Quem Somos</h1>
        <div class="animated conteudo">
          <div>
            <iframe src="https://player.vimeo.com/video/333190776" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
          <div class="sobre">
            <p>
              Somos uma rede comunitária, provedor de internet é outra coisa.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="section2" class="section" data-name="saiba_mais">
        <h1>Saiba Mais</h1>
        <div class="animated conteudo">
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Projeto Nós por Nós</h4>
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Rádio PSP</h4>
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Newsletter 2019</h4>
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Rede Local</h4>
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Expansão da Rede</h4>
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" class="imglogo" />
            <h4>Estatuto</h4>
          </div>
        </div>
      </div>
        <div class="social-links animated hidden">
            {% if site.author.email %}
                <a class="btn-light ico-gmail" href="mailto:{{ site.author.email }}" rel="me" target="_blank" title="email"></a>
            {% endif %}
            {% for link in site.author.social_links %}
                {% if link.url %}
                    <a class="btn-light ico-{{ link.name }}" href="{{ link.url }}" rel="me" target="_blank" title="{{ link.name }}"></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% include home/scripts.html %}
</body>

</html>
